apiSoap/src/conf/xml-resources/web-service-references/CalculadoraWS/wsdl/localhost_8080/apiSoap/CalculadoraWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="CalculadoraWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/apiSoap/CalculadoraWS?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="sumar">
<part name="parameters" element="tns:sumar"/>
</message>
<message name="sumarResponse">
<part name="parameters" element="tns:sumarResponse"/>
</message>
<message name="restar">
<part name="parameters" element="tns:restar"/>
</message>
<message name="restarResponse">
<part name="parameters" element="tns:restarResponse"/>
</message>
<portType name="CalculadoraWS">
<operation name="hello">
<input wsam:Action="http://ws/CalculadoraWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/CalculadoraWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="sumar">
<input wsam:Action="http://ws/CalculadoraWS/sumarRequest" message="tns:sumar"/>
<output wsam:Action="http://ws/CalculadoraWS/sumarResponse" message="tns:sumarResponse"/>
</operation>
<operation name="restar">
<input wsam:Action="http://ws/CalculadoraWS/restarRequest" message="tns:restar"/>
<output wsam:Action="http://ws/CalculadoraWS/restarResponse" message="tns:restarResponse"/>
</operation>
</portType>
<binding name="CalculadoraWSPortBinding" type="tns:CalculadoraWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sumar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="restar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculadoraWS">
<port name="CalculadoraWSPort" binding="tns:CalculadoraWSPortBinding">
<soap:address location="http://localhost:8080/apiSoap/CalculadoraWS"/>
</port>
</service>
</definitions>